!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Tic tac toe
    / Bootstrap
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .container
          %a.navbar-brand{href: "#"} Cat tic-tac-toe
          .navbar-text Could you win?? I don't think so...
      .container
        = yield
    #footer.footer
      .container
        %p.text-muted
          Steven© 2014
          %br/
          %a{href: "mailto:me@steven.mx"} me@steven.mx
          |
          %a{href: "https://twitter.com/steven_barragan", target: '_blank'} @steven_barragan
    = javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'
    = analytics_init if Rails.env.production?
